@using Toponym.Site.Models
@{
    var lang = (Language)ViewBag.Language;
}
<div id="languages">
    @if (lang == Language.Russian) {
        <span>Рус</span>
    }
    else {
        <a href="/" onclick="location.replace('/'); return false;" tabindex="-1">Рус</a>
    }
    @if (lang == Language.Belarusian) {
        <span>Бел</span>
    }
    else {
        <a href="/be/" onclick="location.replace('/be/'); return false;" tabindex="-1">Бел</a>
    }
    @if (lang == Language.English) {
        <span class="last">Eng</span>
    }
    else {
        <a href="/en/" onclick="location.replace('/en/'); return false;" tabindex="-1">Eng</a>
    }
</div>
